body {
    background: #2d3536;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #879597;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
}
    .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }
    .song {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 350px;
        padding: 6px;
        border: 1px solid #ffffff42;
    border-radius: 0;
    background: #094c6f12;
    }
    .controls {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    audio {
        display: none;
    }
    .song-title {
    flex-grow: 1;
    margin: 0 0;
    font-size: 10px;
    width: 127px;
}
    button {
    background: #00000026;
    border: 1px solid #ffffff63;
    padding: 14px;
    color: white;
    border-radius: 47px;
    height: 44px;
    cursor: pointer;
    transition: .1s;
}

button:active {
    opacity: 0.5;
    filter: brightness(2);
    transition: .1s;
    }
.menu-btn {
    position: fixed;
    top: 7px;
    left: 11px;
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    width: 19px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 6px;
}

.menu-btn span:after {
    top: 6px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.406);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: .6s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}

button.playPause {
    width: 67px;
}

.icon2 {
    width: 30px;
}

.playlist img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
    pointer-events: none;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.329);
}
#filtered-count {
}
.mainbox {
    width: 360px;
    margin:0 auto
}

select {
    background: #00000045;
    color: white;
    padding: 6px;
    border-radius: 12px;
    margin: 3px 0px;
    border: 1px solid #7b7b7b;
}

input#title-filter {
    background: #00000045;
    color: white;
    padding: 7px;
    border-radius: 12px;
    margin: 3px 0px;
    border: 1px solid #7b7b7b;
    width: 329px;
}

.controls a {
    background: #00000026;
    border: 1px solid #ffffff63;
    padding-top: 9px;
    color: white;
    padding-left: 11px;
    border-radius: 47px;
    padding-bottom: 17px;
    padding-right: 11px;
    height: 10px;
    cursor: pointer;
    transition: .1s;
    font-size: 12px;
    text-decoration: none;
}
.controls a:active {
    opacity: 0.5;
    filter: brightness(2);
    transition: .1s;
}
summary {
    cursor: pointer;
    background: #ffffff26;
    font-size: 14px;
    text-align: center;
    padding: 3px;
    border: 1px solid #ffffff45;
    color: white;
    user-select: none;
    transition: .2s;
}

summary:active {
    opacity: 0.5;
    transition: .2s;
}

.padding {
    margin-bottom: 3px;
}

.filter-controls {
    background: #95caff26;
    padding: 6px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border: 1px solid #ffffff45;
    border-top: none;
}
.pagination button:disabled {
    opacity: 0.2 !important;
    pointer-events: none;
}
